.parent-box{
    border: 2px solid black;
    flex-direction: wrap;
    
}
.parent-box .container .right{
     border: 2px solid black;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
}

.parent-box .container .left{
     border: 2px solid black;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
}
